body {
font-family: 'Inter' , sans serif;
font-weight: 400;
margin: 0;
}

.container {
  width: 96%;
  max-width: 1020px;
  margin: 0 auto;
}

.small-container {
  margin:0 auto;
  width: 92%;
  max-width: 768px;
}

h1#site-title {
  font-size: 72px;
  letter-spacing: -3px;
  margin-top: 0;
  margin-bottom: .125em;
  text-align: center;
  font-weight: 800;

}

h1#article-title {
  font-size: 48px;
  font-weight: 900;
  margin-bottom:22px;
  margin-top: 48px;

}

h2 {
  font-weight: 900;
  margin-bottom: 0;
  margin-top:48px;
}

p {

img {
  max-width: 100%;
  height:auto;
}

figure {
  margin: 0;
  border: 1px solid black;
    padding: 12px;
    padding-bottom: 24px;


}
figure img{
  max-width: 100%;
  height:auto;
  margin-bottom: 12px;

}

figure.main-image{
background: PaleVioletRed;
border-color:  MediumVioletRed;
color: #ffffff;
margin-bottom: 32px;
}

@media all and (min-width:768px) {
  figure.section-image {
    max-width: 320px;
    float: right;
    margin:-20px -62px 32px 20px;
   }
  }

p img {
  float: right;
  max-width:60;
  margin-left:20px;
  margin-bottom:32px;


}

nav ul {
list-style: none;
  padding-left: 0;
}

@media all and (min-width:376px) {
  nav ul {
    display: flex;
    justify-content; center;
    gap: 30px;

  }
}

nav ul li {

}

nav ul li a {
  background-color:PaleVioletRed;
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  border bottom: 1px solid MediumVioletRed;
  display: block;

}

nav ul li a: hover {
  background-color: MediumVioletRed;

}

nav ul li: last-child a {
  border-bottom: none;

}
