body {
font-family:"Monospaced font"cursive fantasy;
}

h1#site-title {
  font-size: 200px;
  letter-spacing:-6px;
  margin top: 0;
  margin bottom: 1.25em;
  text-align:center;
}

h1#article-title {
  font-size: 20px;
  letter-spacing: -6px
  margin top: 0;
  margin bottom: 1.25em;
  text-align:center;


}

p {
  line-height: 1.25;
  margin bottom: 1.25em;
}

figure {
  margin: 0;
  border: 1px solid green;
    padding: 12px;
    padding-bottom: 24px;


}
figure img{
  width: 100%;
    height: auto;
  margin-bottom: 12px;

}

figure.main-image{
background: green ;
border-color:  green;
color: #ffffff;
}

figure.section-image{
  margin-bottom:32px;
  max-width: 320px;

}

figure.section-image.odd {
  float:right;
  margin-left: 20px;

}

figure.section-image.even {
  float:right;
  margin-right: 20px;


}

p img {
  float: left;
  max-width:60;
  margin-left:20px;
  margin-bottom:32px;


}

nav ul {
  display:flex;
  justify-content: center;
  list-style: none;
  padding-left: 0;
  border: 1px solid red;

}

nav ul li {

}

nav ul li a {
  background-color:Red;
  color: #ffffff;
  text-decoration: none;
  padding: 8px;
  border bottom: 1px solid Red;
  display: block;

}

nav ul li a: hover {
  background-color: Red;

}

nav ul li: last-child a {
  border-bottom: none;

}
